
<div class="navbar d-flex align-content-center align-items-center justify-content-center">
    <h2 class="dolarBlueColor">DOLAR$NUBE</h2>
</div>
<div class="container">
    <div class="row align-items-center align-content-center justify-content-center gap-5">
        <div class="col card my-3 flex-fill h-100" style="max-width: 18rem;">
            <div class="h3 card-header text-center">Dólar Blue</div>
            <div class="card-body">
                <h5 class="card-title">Compra: </h5> <span class="dolarBlueColor font-weight-bold bg-dark">{{dolarBlue?.compra | currency}}</span>
                <h5 class="card-title">Venta: </h5> <span class="dolarBlueColor font-weight-bold bg-dark">{{dolarBlue?.compra | currency}}</span>
                <h5 class="card-title">Actualización: </h5> <span>{{dolarBlue?.fechaActualizacion | date: 'short'}}</span>
            </div>
        </div>
        <div class="col card my-3 flex-fill h-100" style="max-width: 18rem;">
            <div class="h3 card-header text-center">Dólar Oficial</div>
            <div class="card-body">
                <h5 class="card-title">Compra: </h5> <span class="dolarBlueColor font-weight-bold bg-dark">{{dolarOficial?.compra | currency}}</span>
                <h5 class="card-title">Venta: </h5> <span class="dolarBlueColor font-weight-bold bg-dark">{{dolarOficial?.venta | currency}}</span>
                <h5 class="card-title">Actualización: </h5> <span>{{dolarOficial?.fechaActualizacion | date: 'short'}}</span>
            </div>
        </div>
    </div>
</div>
<footer class="p-5 w-100">
    <div class="d-grid gap-2 justify-content-center">
        <button class="btn btn-dark" type="button" style="max-width: 600px;">Querés saber cuándo sube o baja el dólar? Click aquí para recibir notificaciones!</button>
      </div>
</footer>
