<header class="nav sticky-top bg-dark p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex gap-2 align-items-center justify-content-center justify-content-lg-start">
            <div class="text-end" style=" width: 55px;" >
            </div>
            <div class="flex-fill d-flex align-items-center justify-content-center">
                <h2 class="dolarBlueColor">DOLAR</h2>
                <img src="../../assets/logo.png" alt="logo">
                <h2 class="dolarBlueColor">NUBE</h2>
            </div>
            <!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul> -->
            <div *ngIf="(!authService.authLoading) && (authService.userAuth$ | async ) as user" class="dropdown text-end" style="width: 70px;">
                <a href="#" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-decoration-none "
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <div style="width: 70px; overflow: hidden; text-overflow: ellipsis;" >
                        <h1><span class="badge text-bg-light rounded-circle">{{(user?.username ?? '')[0] | uppercase}}</span></h1>
                    </div>
                </a>
                <ul class="dropdown-menu text-small">
                    <li><h6 class="dropdown-header">{{user?.username}}</h6></li>
                    <li><button class="text-start w-100 border-0 btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="switchFocus()">Preferencias</button></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><button class="text-start w-100 border-0 btn btn-outline-dark" (click)="onLogoutClicked()">Salir</button></li>
                </ul>
            </div>
            <div *ngIf="(!authService.authLoading) && !(userAuthenticated$ | async)" class="text-end" style="width: 70px;">
                <a href="{{loginURL}}">
                <button type="button" class="btn btn-outline-light me-2">Ingresar</button></a>
            </div>
            <div style="width: 70px;" *ngIf="(authService.authLoading)" >

            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row align-items-center align-content-center justify-content-center gap-5">
        <div class="col card my-3 flex-fill h-100" style="max-width: 18rem;">
            <div class="h3 card-header text-center">Dólar Blue</div>
            <div class="card-body">
                <h5 class="card-title">Compra: </h5> <span
                    class="dolarBlueColor font-weight-bold bg-dark">{{dolarBlue?.compra | currency}}</span>
                <h5 class="card-title">Venta: </h5> <span
                    class="dolarBlueColor font-weight-bold bg-dark">{{dolarBlue?.venta | currency}}</span>
                <h5 class="card-title">Actualización: </h5> <span>{{dolarBlue?.fechaActualizacion | date:
                    'short'}}</span>
            </div>
        </div>
        <div class="col card my-3 flex-fill h-100" style="max-width: 18rem;">
            <div class="h3 card-header text-center">Dólar Oficial</div>
            <div class="card-body">
                <h5 class="card-title">Compra: </h5> <span
                    class="dolarBlueColor font-weight-bold bg-dark">{{dolarOficial?.compra | currency}}</span>
                <h5 class="card-title">Venta: </h5> <span
                    class="dolarBlueColor font-weight-bold bg-dark">{{dolarOficial?.venta | currency}}</span>
                <h5 class="card-title">Actualización: </h5> <span>{{dolarOficial?.fechaActualizacion | date:
                    'short'}}</span>
            </div>
        </div>
    </div>
</div>
<footer class="p-5 w-100" *ngIf="(!authService.authLoading) && !(userAuthenticated$ | async)">
    <div class="d-grid gap-2 justify-content-center">
        <a href="{{loginURL}}">

            <button class="btn btn-dark mt-3" type="button" style="max-width: 600px;">Querés saber cuándo sube o baja el dólar?
                Click aquí para recibir notificaciones!</button>
            </a>
    </div>
</footer>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Preferencias</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div *ngIf="(!authService.authLoading) && (authService.userAuth$ | async )" class="preferencias text-center my-3">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="showFormSwitch" [(ngModel)]="showForm">
                    <label class="form-check-label"  for="showFormSwitch">Notificaciones</label>
                  </div>
                </div>
                <div *ngIf="showForm" class="card my-3 mx-auto" style="max-width: 400px;">
                  <div class="card-body">
                    <form>
                      <div class="mb-3" id="preferencias">
                        <label for="horaSelect" class="form-label">Selecciona un horario para recibir las notificaciones:</label>
                        <select class="form-select" id="horaSelect" aria-label="Selecciona un horario" [(ngModel)]="selectedHour">
                          <option *ngFor="let hour of hours" [value]="hour">{{ hour }}:00</option>
                        </select>
                      </div>
                    </form>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
